*{
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    transition: all 1s ease;
}

.dark {
    background: black;
}
/*Global Font Formats and Containers*/

h1 {
    font-size: 2.5vw;
}

h2 {
    font-weight: 400;
    font-size: 1.25vw;
    margin: 2vh auto;
    color: gray;
    line-height: 150%;
}

.container{
    max-width: 80%;
    margin: auto;
}

/*Nav*/

#nav-icon {
    top: 2px;
  zoom: 0.42;
  width: 60px;
  position: relative;
  margin: 44px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: black;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.darkmode--activated #nav-icon span {
    background: white;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(4) {
  top: -50px;
  height: 140px;
  opacity: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}


#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 42px;
  left: 8px;
}


.checkbtn{
    color: black;
    float: left;
    line-height: 40px !important;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

nav{
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter:blur(10px);
    -o-backdrop-filter:blur(10px);
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.05);
    width: 70%;
    margin: 3vw 15%;
    height: 4.2vw;
    border-radius: 0.75vw;
    z-index: 10;
    transition: .1s;
}

.darkmode--activated nav {
    background-color: hsla(0, 0%, 20%, .8);
    transition: .1s;
}

img.logo{
    position: fixed;
    display: inline-block;
    margin-top: 1.2vw;
    width: 4vw;
    padding: 0 1.2vw;
    transition: .25s;
}

img.logo:hover{
    opacity: 0.5;
    transition: .25s;
    cursor:pointer;
}

img.logoW {
    display: none;
}

.darkmode--activated img.logo {
    display: none;
}

.darkmode--activated img.logoW {
    position: fixed;
    display: inline-block;
    margin-top: 1.2vw;
    width: 4vw;
    padding: 0 1.2vw;
    transition: .25s;
}

.darkmode--activated img.logoW:hover{
    opacity: 0.5;
    transition: .25s;
    cursor:pointer;
}


.navR {
    right: 0;
    position: fixed;
    bottom: -18px;
    margin-right: 10px;

}

nav ul li{
    display: inline;
    padding: 1vw;
}

nav ul li a {
    font-weight: 300;
    color: gray;
    line-height: 4.2vw;
    font-size: 1vw;
    text-decoration: none !important;
    transition: .5s;
}

.line {
    color: gray;
}

a:hover{
    color: black;
    transition: .5s;
}

.darkmode--activated a:hover {
    color: white;
    transition: .5s;
}

/*Landing*/

.landing{
    text-align: center;
    height: 90vh;
    width: 70%;
    margin: auto;
}

.landingtitle{
        margin: auto;
        max-width: 85%;
    }

.blended-text-wrapper {
    position: relative;
    width: 99%;
    margin: 20vh auto 0px;
}

.blended-text-wrapper_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    object-fit: cover;
}

.blended-text-wrapper_text {
    -webkit-animation: anim-text-color 16s linear infinite;
    animation: anim-text-color 16s linear infinite;
    background-color: white;
    mix-blend-mode: lighten;
    color: black;
    font-size: 5.5vw;
    font-weight: 700;
    letter-spacing: -.02em;
    transition: .01s;
}

.darkmode--activated .blended-text-wrapper_text  {
    background-color: black;
    mix-blend-mode: darken;
    color: white;
    transition: .01s;
}
    
.landingsub{
    font-size: 1.25vw;
    text-align: center;
    max-width: 70%;
    margin: 2vh auto;
    color: gray;
}


.arrow a { 
    font-size: 2vw;
    color: lightgray;
    opacity: 0.5;
    text-decoration: none;
    text-align: center;
    margin: 10vh auto;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/*CanTrace*/


.cantraceimg{
    width: 100%;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition:  .5s ease;
}

.cantraceimg:hover{
    transition: .5s ease;
    cursor: pointer;
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);

}

.cantraceimgmobile{
    display: none;
    
}

/* Apple */

.appleimg{
    width: 100%;
    border-radius: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    transition:  0.5s ease;
}

.appleimg:hover{
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);
}


.cantraceimgmobile{
    display: none;
    
}

.appleimgmobile{
    display: none;
}

.miniT {
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: center;
}

.mini {
    width: 100%;
    border-radius: 1vw;
    transition:  0.5s ease;
}

.mini:hover{
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);
}

/*Footer*/

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.ft {
    isolation: isolate;
}







@media (min-width: 2000px){

    .blended-text-wrapper_text {
        font-size: 5.5vw;
    }
    
    .landingsub{
        font-size: 1.25vw;
    }
    
    .arrow a {
        font-size: 2vw;
    }
    
}
    

@media (min-width: 1600px){

    .blended-text-wrapper_text {
        font-size: 5.5vw;
    }
    
    .landingsub{
        font-size: 1.25vw;
    }
    
    .arrow a {
        font-size: 2vw;
    }

}

@media (max-width: 1250px){
    .blended-text-wrapper_text {
        font-size: 7vw;
    }
    
    .landingsub{
        font-size: 2vw;
    }
    
    .arrow a {
        font-size: 4vw;
    }
    
    
}


@media (max-width: 920px){
  
    img.logo {
        display: none;
    }
    
    img.logoW {
        display: none;
    }
    
    .line {
        display: none;
    }
    
    .darkmode--activated img.logoW {
        display: none;
    }
    
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 3vw;
    }
    
    .checkbtn{
        display: block;
    }
    
    #check:checked ~ .navR{
        right: 0;
    }

    .navR {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 33%;
        height: 100vh;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        -moz-backdrop-filter: blur(6px);
        -o-backdrop-filter: blur(6px);
        box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.05);
        background-color: white;
        top: 90px;
        right: -110%;
        border-radius: 10px;
        transition: all .5s;
    }
    
    .darkmode--activated .navR {
        background-color: #252525;
    }
    
    nav {
        width: 90%;
        margin: 3vw 5%;
        height: 60px;
    }
    
    nav ul li {
        line-height: 60px;
    }
    
    nav ul li a {
        font-size: 14px;
        
    }

    .blended-text-wrapper_text {
        font-size: 7vw;
    }
    
    .landingsub {
        font-size: 3vw;
    }
    
    .arrow a {
        font-size: 4vw;
    }
    
    .cantraceimg{
        display: none;
    }
    
    .cantraceimgmobile{
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        transition: .5s;
        border-radius: 10px;
    }
    
    .cantraceimgmobile:hover{
        transition: 0.5s ease;
        cursor: pointer;
        box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);

    }
    
    
    .appleimg {
        display: none;
    }
    
     .appleimgmobile{
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        transition: .5s;
        border-radius: 10px;
    }
    
    .appleimgmobile:hover{
        transition: .5s;
        cursor: pointer;
        box-shadow: 4px 4px 40px 4px rgba(0, 0, 0, 0.3);

    }

    
    
@media (max-width: 760px){

    .blended-text-wrapper_text {
        font-size: 8.5vw;
    }
    
    .landingsub{
        font-size: 3.5vw;
    }
    
    .arrow a {
        font-size: 4vw;
    }

}
    
    