* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 87%;
    overflow-x: hidden;
    margin: auto;
}

#particleContainer{
    position: fixed;
    width: 100vmax;
    height: 100vmax;
    z-index: -1;
}

.blue {
    color: #027BFF;
}

.navFont{
    color: white;
    font-size: 12px;
}

.navFontBlack{
    color: black;
    font-size: 12px;
}

.interestFont{
    color: black;
    font-size: 48px;
}

.interestTitle{
    margin-bottom: 28px;
}

.viewFont {
    color: white;
}

p {
    font-weight: 100;
}

/* NAV */

.navBackground { 
    position:fixed;
    z-index: 2;
    width: 100px;
    height: 100px; 
    top:0;
    left: -2px;
    background-image: url(Images/navBackground.svg);
}

 #nav-iconWeb {
    z-index: 3;
    position: fixed;
    cursor: pointer;
    left: 22px;
    top: 28px;
    z-index: 3;
    width: 30px;
}

#nav-iconWeb span{
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 14px;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

#nav-iconWeb span:nth-child(1) {
      opacity: 0;
      transform: rotate(90deg);
}

#nav-iconWeb span:nth-child(2) {
     opacity: 0;
     transform: rotate(90deg);
}

#nav-iconWeb span:nth-child(3) {
     opacity: 0;
}

#nav-iconWeb span:nth-child(4) {
     opacity: 0;
}

#nav-iconWeb span:nth-child(5) {
     opacity: 0;
}

#nav-iconWeb.open span:nth-child(1) {
    opacity: 1;
    top: 0px;
    transform: rotate(0deg);
}

#nav-iconWeb.open span:nth-child(2) {
    opacity: 1;
    top: 6px;
    left: 17px;
    width:18.5px;
    transform: rotate(90deg);
}

#nav-iconWeb.open span:nth-child(3) {
    opacity: 1;
    top: 12px;
    transform: rotate(0deg);
}

#nav-iconWeb.open span:nth-child(4) {
    opacity: 1;
    top: 18px;
    left: -6px;
    width: 18px;
    transform: rotate(90deg);
}

#nav-iconWeb.open span:nth-child(5) {
    opacity: 1;
    top: 18px;
    left: 10px;
    width: 22px;
    transform: rotate(225deg);
}


.nav{
    position: fixed;
    z-index: 1;
    top: 82px;
}

.nav a.navElement{
    text-decoration: none !important;
    background-color: #027BFF;
    text-align: center;
    transition: 1s;
    line-height: 5vh;
    padding: 10px;
}

.nav .last{
    border-bottom-right-radius: 14px;
}

.nav a.navElement:hover{
    background-color: #D1D3D4;
    transition: 1s;
}

.nav a.navElement.active {
    background-color: black;
    transition: 1s;
}

.nav2{
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 7px;
}

.nav2 a.navElementSocial {
    text-decoration: none !important;
    background-color: #f1f2f2;
    text-align: center;
    display: block;
    margin: 14px;
    border-radius: 50%;
    transition: 1s;
    width: 36px;
    height: 36px;
    line-height: 2;
}

.nav2 a.navElementSocial:hover {
    background-color: #027BFF;
    transition: 1s;
}

.nav.a.navClose{
    display: none;
}

.arrowLeft {
    display: none;
}

@media screen and (max-width: 1000px) {
    
    html, body {
    max-width: 100%;
}
    
    .landingLeft{
        width: 100% !important;
         margin: auto;
        text-align: center;
    }
    
    .RahilShah{
        width: 100% !important;
       
    }
    
      .landingR1{
        display: none;
    }
    
    .landingR2{
        display: none;
    }
    
    #nav-iconMobile {
        z-index: 3;
        width: 30px;
        position: relative;
        cursor: pointer;
    }

    #nav-iconMobile span{
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: white;
        border-radius: 14px;
        left: 0;
        transition: .2s ease-in-out;
    }

    #nav-iconMobile span:nth-child(1) {
        top: 0px;
    }

    #nav-iconMobile span:nth-child(2) {
        top: 12px;
    }

    #nav-iconMobile span:nth-child(3) {
        top: 24px;
    }

    #nav-iconMobile span:nth-child(4) {
        top: 0px;
        opacity: 0;
    }

    #nav-iconMobile span:nth-child(5) {
        top: 24px;
        opacity: 0;
    }
    
    #nav-iconMobile span:nth-child(6) {
        top: 0px;
        height: 30px;
        border-radius: 0;
        opacity: 0.01;
    }

    #nav-iconMobile.open span:nth-child(1) {
        top: 0px;
        transform: rotate(0deg);
    }

    #nav-iconMobile.open span:nth-child(2) {
        top: 6px;
        left: 17px;
        width:19px;
        transform: rotate(90deg);
    }

    #nav-iconMobile.open span:nth-child(3) {
        top: 12px;
        transform: rotate(0deg);
    }

    #nav-iconMobile.open span:nth-child(4) {
        top: 18px;
        left: -6px;
        width: 18px;
        opacity: 1;
        transform: rotate(90deg);
    }

    #nav-iconMobile.open span:nth-child(5) {
        top: 18px;
        left: 10px;
        width: 22px;
        opacity: 1;
        transform: rotate(225deg);
    }

    #nav-iconWeb{
        display: none;
    }
    
    .nav a.navClose {
        text-decoration: none !important;
        background-color: #027BFF;
        text-align: center;
        transition: 1s;
        padding: 10px;
        line-height: 2vh;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        margin-top: 14px;
    }
    
    .arrowLeft {
        border: solid white;
        display: inline-block;
        border-width: 0 3px 3px 0;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    .nav a.navClose:hover {
        background-color: #D1D3D4;
        transition: 1s;
    }
    
    #navMenu{
        transition: 1s;
    }
    
    .nav{
        position: fixed;
        transition: 1s;
    }
      
    .mobileOpen{
        position:fixed;
        z-index: 3;
        top: 28px;
        left: 22px;
    }  
    
    .arrowDown::after{
      margin-top: 62vh;
    }
    
    .section3 .grid .our-project .img a img{
    margin-top: 14px;
    }

}

@media only screen and (min-width: 768px) {

    #navMenu{
        transition:1s;
    }
    
    .nav{
        position: fixed;
        transition: 1s;
        left:0;
    }
    
}
            
#section2, #section3, #section4 {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#section5 {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

/* LANDING */

.blueBar {
    height: 14px;
    background: #027BFF;
    position: fixed;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.landing {
    height: 100vh;
}

.landingLeft{
    padding-top: 15%;
}


.landingR1{
    z-index: 3;
    left: 0px;
    margin-top: 10vh;
    margin-left: 52%;
    height: 80vh;
    width: 50%;
    background-image: url(Images/DHA.png);
    position: absolute;
    background-size: contain;
    background-position: 80% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.landingR2{
    z-index: 4;
    margin-top: 45vh;
    margin-left: 38%;
    height: 25vh;
    width: 30%;
    background-image: url(Images/DHB.png);
    position: absolute;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

}

.RahilShah{
    width: 60%;
}

.arrowDown::after{
    position: absolute;
    content:"";
    margin: auto;
    width: 42px;
    height: 42px;
    left: 0;
    right: 0;
    margin-top: 75vh;
    border-right: 7px solid #D1D3D4;
    border-bottom: 7px solid #D1D3D4;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
    border-width: 1px;    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 0px;
    }
    50%{
        top: 40px;
    }
}
    
@keyframes arrow{
    0%, 100% {
        top: 0px;
    }
    50%{
        top: 40px;
    }
}

.section2 .button-group button{
    background: transparent;
    border: none;
    text-transform: uppercase;
}

.section2 .button-group button::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: #027BFF;
    transition: width .5s;
}

.section2 .button-group button:hover::after{
    width: 100%;
    transition: width .5s;
}



.section2 .button-group button.active{
    background: #027BFF;
    color: white;
    border-radius: 10px;
    padding: 14px;
    transition: .5s;
    
}

.section2 .button-group button + button{
    margin-left: 28px;
    margin-bottom: 28px;
    padding: 5px;
}

.section2 .grid .our-project > .title h4{
    
}

.section2 .grid .our-project .img a:hover img{
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section2 .grid .our-project .img a img{
    transition: 1s;
}


.section3 .grid .our-project .img a:hover img{
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section3 .grid .our-project .img a img{
    transition: 1s;
}

    


li {
    position: relative;
    list-style: none;
    margin: 50px;
    margin-left: -14px;
    width: 100%;
}

li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: #f1f2f2;
}

li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 1px;
    background-color: #027BFF;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.skill1:after {
    animation-name: skill1;
}

@keyframes skill1 {
    to {
        width: 100%;
    }
}



li.skill2:after {
    animation-name: skill2;
}

@keyframes skill2 {
    to {
        width: 100%;
    }
}



li.skill3 {
    padding-top: 14px;
}

li.skill3:after {
    animation-name: skill3;
}

@keyframes skill3 {
    to {
        width: 100%;
    }
}



li.skill4 {
    padding-top: 14px;
}

li.skill4:after {
    animation-name: skill4;
}

@keyframes skill4 {
    to {
        width: 100%;
    }
}

.img2{
    width: 100%;
}

.footer{
    text-align: center;
    padding-bottom: 20vh;
}
