* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Montserrat, San Francisco, Helvetica Neue, sans-serif;
}

#particleContainer{
    position: fixed;
    width: 100vmax;
    height: 100vmax;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.blue {
    color: #027BFF;
}

.navFont{
    color: white;
    font-size: 12px;
    font-weight: 300;
}

.navFontBlack{
    color: black;
    font-size: 12px;
    font-weight: 300;
}

.viewFont {
    color: white;
    font-weight: 300;
}

h1 {
    font-size: 42px;
    font-weight: 500;
}

h2 {
    color: black;
    font-size: 70px;
    font-weight: 500;
}

h3 {
    color: black;
    opacity: 0.75;
    font-size: 14px;
    font-weight: 300;
}

h4 {
    color: #D1D3D4;
    font-size: 14px;
    font-weight: 500;
}

/* NAV */

.navBackground { 
    position:fixed;
    z-index: 2;
    width: 100px;
    height: 100px; 
    top:0;
    left: -2px;
    background-image: url(Images/navBackground.svg);
}

 #nav-iconWeb {
    z-index: 3;
        position: fixed;
        cursor: pointer;
    left: 22px;
    top: 28px;
    z-index: 3;
    width: 30px;
}

#nav-iconWeb span{
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 14px;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

#nav-iconWeb span:nth-child(1) {
      opacity: 0;
      transform: rotate(90deg);
}

#nav-iconWeb span:nth-child(2) {
     opacity: 0;
     transform: rotate(90deg);
}

#nav-iconWeb span:nth-child(3) {
     opacity: 0;
}

#nav-iconWeb span:nth-child(4) {
     opacity: 0;
}

#nav-iconWeb span:nth-child(5) {
     opacity: 0;
}

#nav-iconWeb.open span:nth-child(1) {
    opacity: 1;
    top: 0px;
    transform: rotate(0deg);
}

#nav-iconWeb.open span:nth-child(2) {
    opacity: 1;
    top: 6px;
    left: 17px;
    width:18.5px;
    transform: rotate(90deg);
}

#nav-iconWeb.open span:nth-child(3) {
    opacity: 1;
    top: 12px;
    transform: rotate(0deg);
}

#nav-iconWeb.open span:nth-child(4) {
    opacity: 1;
    top: 18px;
    left: -6px;
    width: 18px;
    transform: rotate(90deg);
}

#nav-iconWeb.open span:nth-child(5) {
    opacity: 1;
    top: 18px;
    left: 10px;
    width: 22px;
    transform: rotate(225deg);
}


.nav{
    position: fixed;
    z-index: 1;
    top: 82px;
}

.nav a.navElement{
    text-decoration: none;
    background-color: #027BFF;
    text-align: center;
    vertical-align: center;
    display: block;
    transition: 1s;
    width: 14px;
    line-height: 5vh;
    padding: 10px;
}

.nav .last{
    border-bottom-right-radius: 14px;
}

.nav a.navElement:hover{
    background-color: #D1D3D4;
    transition: 1s;
}

.nav a.navElement.active {
    background-color: black;
    transition: 1s;
}

.nav2{
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 7px;
}

.nav2 a.navElementSocial {
    text-decoration: none;
    background-color: #f1f2f2;
    text-align: center;
    display: block;
    margin: 14px;
    border-radius: 50%;
    transition: 1s;
    width: 36px;
    height: 36px;
    line-height: 2;
}

.nav2 a.navElementSocial:hover {
    background-color: #027BFF;
    transition: 1s;
}

.nav.a.navClose{
    display: none;
}

.arrowLeft {
    display: none;
}

@media screen and (max-width: 768px) {
    
    html{
        overflow-x: none;
    }
    
    #nav-iconMobile {
        z-index: 3;
        width: 30px;
        position: relative;
        cursor: pointer;
    }

    #nav-iconMobile span{
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background: white;
        border-radius: 14px;
        left: 0;
        transition: .2s ease-in-out;
    }

    #nav-iconMobile span:nth-child(1) {
        top: 0px;
    }

    #nav-iconMobile span:nth-child(2) {
        top: 12px;
    }

    #nav-iconMobile span:nth-child(3) {
        top: 24px;
    }

    #nav-iconMobile span:nth-child(4) {
        top: 0px;
        opacity: 0;
    }

    #nav-iconMobile span:nth-child(5) {
        top: 24px;
        opacity: 0;
    }
    
    #nav-iconMobile span:nth-child(6) {
        top: 0px;
        height: 30px;
        border-radius: 0;
        opacity: 0.01;
    }

    #nav-iconMobile.open span:nth-child(1) {
        top: 0px;
        transform: rotate(0deg);
    }

    #nav-iconMobile.open span:nth-child(2) {
        top: 6px;
        left: 17px;
        width:19px;
        transform: rotate(90deg);
    }

    #nav-iconMobile.open span:nth-child(3) {
        top: 12px;
        transform: rotate(0deg);
    }

    #nav-iconMobile.open span:nth-child(4) {
        top: 18px;
        left: -6px;
        width: 18px;
        opacity: 1;
        transform: rotate(90deg);
    }

    #nav-iconMobile.open span:nth-child(5) {
        top: 18px;
        left: 10px;
        width: 22px;
        opacity: 1;
        transform: rotate(225deg);
    }

    #nav-iconWeb{
        display: none;
    }
    
    .nav a.navClose {
        text-decoration: none;
        background-color: #027BFF;
        text-align: center;
        vertical-align: center;
        display: block;
        width: 14px;
        transition: 1s;
        padding: 10px;
        opacity: 1;
        line-height: 2vh;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        margin-top: 14px;
    }
    
    .arrowLeft {
        border: solid white;
        display: inline-block;
        border-width: 0 3px 3px 0;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    .nav a.navClose:hover {
        background-color: #D1D3D4;
        transition: 1s;
    }
    
    #navMenu{
        transition: 1s;
    }
    
    .nav{
        position: fixed;
        transition: 1s;
        margin-left: -34px;
    }
      
    .mobileOpen{
        position:fixed;
        z-index: 3;
        top: 28px;
        left: 22px;
    }  
}

@media only screen and (min-width: 768px) {

    #navMenu{
        transition:1s;
    }
    
    .nav{
        position: fixed;
        transition: 1s;
        left:0;
    }
}

.viewButton {
    text-decoration: none;
    background-color: #027BFF;
    text-align: center;
    color: white;
    border-radius: 14px;  
    transition: 1s;
    line-height: 56px;
    padding: 10px;
}

.viewButton:hover {
    background-color: #D1D3D4;
    transition: 1s;
}

.viewButton:active {
    background-color: black;
    transition: 1s;
}

#section2 {
    padding-top: 40vh;
    padding-bottom: 40vh;
}
            
#section3, #section4, #section5, #section6, #section7 {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

@media screen and (max-width: 768px) {
            
    #section3, #section4, #section5, #section6, #section7 {
        padding-top: 40vh;
    }
}

/* LANDING */

.blueBar {
    height: 14px;
    background: #027BFF;
    width: 100%;
    margin-left: auto;
    position: fixed;
    z-index: 10;
}

.section1{
    transition: 0.5s;
}

.landing {
    height: 100vh;
}

.landingWrapper{
    display: flex;
}

.landingL{
    padding-top: 10%;
    width: 35%;
    margin-left: 20vh;
}

.landingR1{
    z-index: 3;
    margin-top: 10vh;
    margin-left: 60%;
    height: 80vh;
    width: 30%;
    background-image: url(Images/DHA.png);
    position: absolute;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.landingR2{
    z-index: 4;
    margin-top: 45vh;
    margin-left: 55%;
    height: 25vh;
    width: 30%;
    background-image: url(Images/DHB.png);
    position: absolute;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

}

.Rahil{
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 10%;
    height: 90%;
}

.RahilShah{
    width: 60%;
}

@media screen and (max-width: 768px) {
    
    .landingR1{
        display: none;
    }
    
    .landingR2{
        display: none;
    }
    
    .landingL{
        width: 60%; 
        text-align: center; 
        margin: auto;
    }
    
    .RahilShah{
        width: 80%;
    }
    
    h2{
    font-size: 56px;
    }
    
}

.arrowDown::after{
    position: absolute;
    content:"";
    margin: auto;
    width: 42px;
    height: 42px;
    left: 0;
    right: 0;
    margin-top: 70vh;
    border-right: 7px solid #D1D3D4;
    border-bottom: 7px solid #D1D3D4;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 2s arrow infinite ease;
    animation: 2s arrow infinite ease;
    border-width: 1px;    
}

@-webkit-keyframes arrow{
    0%, 100% {
        top: 0px;
    }
    50%{
        top: 40px;
    }
}
    
@keyframes arrow{
    0%, 100% {
        top: 0px;
    }
    50%{
        top: 40px;
    }
}

@media screen and (max-width: 768px) {

  .arrowDown::after{
      margin-top: 62vh;
   }
}

/* ABOUT */

.aboutTitle{
    margin: auto;
    text-align: center; 
}

.blueLine {
    position: relative;
    color: #027BFF;
    font-size: 65px;
    bottom: 4px;
}

/* PROJECT 01 */

.project{
    margin: auto;
    position: relative;
    width: 60%;
}

.project > .projectText{
    position: absolute;
    margin-top: 14px;
    top: -70px;
}

.project > .projectImage{
    float: right;
    width: 85%;
    margin-top: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PROJECT 02 */

.project2{
    margin: auto;
    position: relative;
    width: 60%;
}

.project2 > .projectText{
    position: absolute;
    text-align: right;
    margin-top: 14px;
    top: -70px;
    right: 0;
}

.project2 > .projectImage{
    float: left;
    width: 85%;
    margin-top: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
    .project2 > .projectText{
        top: -126px;
    }
}

/* PROJECT 03 */

.project3{
    margin: auto;
    position: relative;
    width: 60%;
}

.project3 > .projectText{
    position: absolute;
    margin-top: 14px;
    top: -70px;
}

.project3 > .projectImage{
    float: right;
    width: 85%;
    margin-top: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* PROJECT 04 */

.project4{
    margin: auto;
    position: relative;
    width: 60%;
}

.project4 > .projectText{
    position: absolute;
    text-align: right;
    margin-top: 14px;
    top: -70px;
    right: 0;
}

.project4 > .projectImage{
    float: left;
    width: 85%;
    margin-top: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
@media screen and (max-width: 768px) {
    .project4 > .projectText{
        top: -126px;
    }
}

.footer{
    margin: auto;
    text-align: center;
    padding-bottom: 20vh;
}
